/* fonts */
/* @import url('https://fonts.googleapis.com/css2?family=Alegreya+SC:wght@500&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rampart+One&display=swap");

/* reset & common styles */
body,
ul,
h1,
h2,
h3,
p,
button,
a,
div {
  margin: 0;
  padding: 0;
  color: white;
  /* font-family: 'Alegreya SC', serif; */
  font-family: "Noto Sans", sans-serif;
  letter-spacing: 2px;
  list-style-type: none;
  text-decoration: none;
}
body {
 
  background: radial-gradient(
    circle closest-corner at center 125px,
    #222,
    black 40%
  ) no-repeat; 
  /* text-align: center; */
   background-attachment: fixed;
  overflow: hidden;
}
button {
  color: white;
  padding: 10px 30px;
  font-size: 1em;
  background: transparent;
  border-radius: 50px;
  border: 1px solid white;
  margin: 40px auto 0;
  cursor: pointer;
  opacity: 0.7;
}
.container {
  max-width: 300px;
  margin: 100px auto 40px;
}
.container h3 {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.container li {
  padding: 10px;
  cursor: pointer;
}

/* header */
.logo {
  font-size: 4em;
}
header {
  display: flex;
  padding: 40px;
  align-items: center;
}
header .title {
  flex-grow: 1;
  margin-left: 20px;
  font-size: 0.6em;
}
header h1 {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding-bottom: 10px;
}
header .pizza-svg {
  width: 80px;
  overflow: visible;
  stroke: #fff;
  stroke-width: 4;
  stroke-linejoin: round;
  stroke-linecap: round;
}

/* lists */
li span.active {
  font-weight: bold;
}
li span.active::before {
  content: ">";
  position: relative;
  top: -2px;
  margin-right: 6px;
  transform: scale(0.8, 1);
  display: inline-block;
}

/* pages */
.home h2 {
  font-size: 2em;
  margin-top: -100px;
  /* margin-bottom: 30px; */
}
.home.container,
.order.container {
  text-align: center;
  max-width: 800px;
}
.home button {
  color: white;
  padding: 15px 30px;
  font-size: 1.6em;
  border: 3px solid white;
  margin: 30px 20px;
  box-shadow: 10px 12px 7px 1px black;
}
.order p {
  margin: 20px auto;
  
}

.home-img {
  width: 13%;
  cursor: grab;
  height: auto;
  margin: 20px 0;
  margin-left: 200px;
}
.home-img:active {
  cursor: grabbing;
  scale: 1.2;
}
.rainbow {
  width: 8rem;
  cursor: grab;
  height: auto;
  margin-right: 20rem;
}
.rainbow:active {
  cursor: grabbing;
  scale: 1.2;
}
.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
span {
  font-size: 40px;
  /* font-family: 'Rampart One', cursive; */
  color: rgb(12, 38, 236);
  font-family: "Bangers", cursive;
}

.fire {
  width: 30%;
  cursor: grab;
  height: auto;
  margin-left: 40rem;
}
.fire:active {
  cursor: grabbing;
  scale: 1.2;
}
.fires {
  width: 30%;
  cursor: grab;
  height: auto;
  margin-left: -25rem;
  display: inline;
}
.fires:active {
  cursor: grabbing;
  scale: 1.2;
}
.pizza {
  width: 60%;
  cursor: grab;
  height: auto;
  display: flex;

  margin-left: 20rem;
}
.pizza:active {
  cursor: grabbing;
  scale: 1.2;
}
.cheese {
  width: 20%;
  cursor: grab;
  height: auto;
  margin-left: 70rem;
  margin-top: -10rem;
  display: inline;
}
.cheese:active {
  cursor: grabbing;
  scale: 1.2;
}
.base,
.toppings {
  margin-top: -120px;
}

button {
  color: white;
  padding: 10px 60px;
  font-size: 1em;
  border: 3px solid white;
  margin: 10px 10px;
  box-shadow: 10px 13px 7px 1px black;
}

.slide {
  width: 20%;
  background-position: center;
  position: absolute;
  animation: slide 5s infinite;
  margin-left: -45rem;
  
}

.sparks{
  width: 24%;
  cursor: grab;
  height: auto;
  margin-left: 68rem;
  margin-top: -25rem;
  position: relative;
}
.spark{
  width: 55%;
  cursor: grab;
  height: auto;
  margin-left:-120px;
  /* margin-top: -130px; */
  /* position: relative; */
  
}

/* loader */
.loader{
  /* position: absolute; */
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: #fff;
 margin: 40px auto;
}
